<%- include('../layouts/header'); -%>
    <h2>Welcome to
        <%= title %>
    </h2>
    <section>
        <table class="post">
            <tr>
                <td>
                    <label for="date">Date</label>
                </td>
                <td>
                    <input type="date" name="date" placeholder="date" id="date" value="<%= date %>">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="todo">ToDo</label>
                </td>
                <td>
                    <input type="text" name="todo" placeholder="todo" id="todo" value="<%= posts.todo %>">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="priority">priority</label>
                </td>
                <td>
                    <input type="number" name="priority" placeholder="priority" id="priority" value="<%= posts.priority %>">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="status">status</label>
                </td>
                <td>
                    <% if (posts.status == true) { %>
                        <input type="checkbox" name="status" placeholder="status" id="status" value="true" checked>
                        <% } else { %>
                            <input type="checkbox" name="status" placeholder="status" id="status" value="true">
                            <% } %>

                </td>
            </tr>
        </table>
        <button onclick="updatePost('<%= posts._id %>')" class="submitButton">글 작성</button>
    </section>

    <a href="/user/page/post"></a>
    <script type="text/javascript" charset="utf-8">
        function updatePost(_id) {
            var status = false;
            console.log($('#status').is(":checked"));
            console.log($('#status').is(":checked"));
            console.log($('#status').is(":checked"));
            if ($('#status').is(":checked") == true) {
                status = true;
            }
            console.log(status);
            setTimeout(function () { console.log("Hello"); }, 3000);
            $.ajax({
                url: "/posts/" + _id,
                type: 'put',
                dataType: 'json',
                data: {
                    _id: $('#_id').val(),
                    date: $('#date').val(),
                    todo: $('#todo').val(),
                    priority: $('#priority').val(),
                    status: status,

                },
                async: false,
                success: function (retdata) {
                    console.log(retdata);
                    window.location.href = '/posts';
                }
            });
        }
    </script>
    <%- include('../layouts/footer'); -%>