<%- include('../layouts/header'); -%>

<p>Welcome to
    <%= title %>
</p>
<div>
    <table border="1">
        <tr>
            <th>id</th>
            <th>todo</th>
            <th>date</th>
            <th>show</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <% if (posts) { %>
        <% for(var i = 0; i < posts.length ; i ++) { %>
        <tr>
            <td>
                <%= i + 1 %>
            </td>
            <td>
                <%= posts[i].todo %>
            </td>
            <td>
                <%= posts[i].date %>
            </td>
            <td>
                <a href="/posts/<%= posts[i]._id %>">Show</a>
            </td>
            <% if (user._id == posts[i].userId) { %>
            <td>
                <a href="/posts/<%= posts[i]._id %>/edit">Edit</a>
            </td>
            <td>
                <button onclick="deletePost('<%= posts[i]._id %>')">Delete</button>
            </td>
            <% } %>
        </tr>
        <% }; %>
        <% }; %>
    </table>


</div>
<a href="/posts/create">글 작성</a>
<script type="text/javascript" charset="utf-8">
    function deletePost(_id) {
        $.ajax({
            url: "/posts/" + _id,
            type: 'delete',
            success: function (retdata) {
                console.log(retdata);
                window.location.href = '/posts';
            }
        });
    };
</script>
</body>

</html>