<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div>
        <a href="/users/">login</a> /
        <a href="/users/logout" onclick="return confirm('Are you sure you want to delete this ?');">logout</a>
        <div>
            <button onclick="userDelete()">회원탈퇴</button>
        </div>
    </div>
    <p>Welcome to
        <%= title %>
    </p>
    <div>
        <form action="/users/page/post/edit" method="post">
            <label for="date"></label>
            <input type="date" name="date" placeholder="date" id="date" value="<%= posts.date %>">
            <br>
            <label for="todo"></label>
            <input type="text" name="todo" placeholder="todo" id="todo" value="<%= posts.todo %>">
            <input type="hidden" name="_id" placeholder="_id" id="_id" value="<%= posts._id %>">
            <br>
            <br>
            <input type="submit" value="글 작성 !!">
        </form>

    </div>
    <a href="/user/page/post"></a>
</body>

<script type="text/javascript" charset="utf-8">
    function userDelete() {
        $.ajax({
            url: "/users",
            type: 'delete',
            // dataType: 'json',
            // data: {
            //     id: $('#id').val(),
            // },
            async: false,
            success: function (retdata) {
                console.log(retdata);
                console.log($('#gacha_disp_perc').val())
                window.location.href = '/users';
            }
        });
    }
</script>

</html>